<!DOCTYPE html>
<html>
<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.2.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/dataTables.bootstrap5.min.css">
  <link rel="stylesheet" href="static/codigo.css">

  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
  <script src="https://cdn.datatables.net/1.12.1/js/dataTables.bootstrap5.min.js"></script>

  <script type="text/javascript" src="static/codigo.js"></script>
</head>
<body>

    <div class="principal">
        <form id="form" action="#" method="POST">

            <div class="form-group" >
            <label for="exampleFormControlTextarea1"><h1>Insert Query</h1></label>
                <div class="group-buttons">
                    <div class="buttons">
                        <div class="buttonA">
                            <button type="button" name="dataset1" class="btn btn-light" id="dataset1" class="form-control">Sequential File</button>

                        </div>
                        <div class="buttonB">
                            <button type="button" name="dataset2" class="btn btn-light" id="dataset2" class="form-control">Extendible Hashing</button>
                        </div>
                    </div>
                </div>  
                <div class="form-text-search">
                    <div class="text-search">
                        <textarea class="form-control" name="exampleFormControlTextarea1" id="exampleFormControlTextarea1" rows="3"></textarea>
                    </div>
                </div>
            </div>
            <button id="send_button" type="submit" class="btn btn-primary">Submit</button>
        </form>
    </div>

</body>
</html>
